doctype html
html 
    block head 
        title App
        link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine")
        style(type="text/css").
            body {
                font-family: "Tangerine", serif;
            }
    body
        h1 App
        block main