extends ../partials/layout.pug

block main 
    h2 Pokemon
    h4 #{pokemon.name}
    img(src=pokemon.sprites.front_default)
    if showPreviousButton
        div
            a(href=`/?number=${previousNumber}`) Previous
    if showNextButton
    div
        a(href=`/?number=${nextNumber}`) Next